name: 'learn-ci-cd'

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run tests
        run: go test ./...

      - name: Build App
        run: |
          CGO_ENABLED=0 GOOS=linux go build -o app .

      - name: Artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Copy binary to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "app"
          target: "/home/${{ secrets.SSH_USER }}/app"

      - name: Connected message
        run: echo "connected to server"

      - name: Run on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script_stop: false
          script: |
            pkill -f app || true
            chmod +x ~/app/app
            nohup ~/app/app > app.log 2>&1 &

