name: Learn artifact

on:
  push:
    branches:
      - artifact

jobs:
  upload:
    runs-on: ubuntu-22.04
    name: Upload artifact

    steps:
      - name: Create source file to upload
        run: |
          echo "This text will be in artifact file" > artifact.txt
          echo "Generated on $(date)" >> artifact.txt

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: example-artifact
          path: artifact.txt

  download:
    runs-on: ubuntu-22.04
    name: Download artifact
    needs: upload

    steps:
      - name: Download artifact file
        uses: actions/download-artifact@v4
        with:
          name: example-artifact

      - name: View file
        run: cat artifact.txt

