name: 'core-features'

on:
  push:
    branches:
      - 'core-features'

env:
  - USER_ID: 1

jobs:
  producer:
    runs-on: ubuntu-22.04

    outputs:
      foo: ${{ steps.generate-foo.outputs.foo }}
    steps:
      - name: Generate and export foo
        id: generate-foo

        run: |
          foo=bar
          # 1: for output job
          echo "foo=${foo}" >> "$GITHUB_OUTPUT"
          
          # 2: job scoped environment variable
          echo "FOO=${foo}" >> "$GITHUB_ENV"

      - name: Inspet values inside producer
        run: |
          echo "FOO (set via github env): $FOO"
          echo "foo (step output): ${{ steps.generate-foo.outputs.foo }}"
          echo "foo (global env): ${{ env.USER_ID }}

  consumer:
    runs-on: ubuntu-22.04
    needs: producer

    steps:
      - name: Get variables
        run: |
          echo "Values from producer:   ${{ needs.producer.outputs.foo }}"
          echo "FOO in consumer:        ${FOO:-UNSET}"