name: 'learn-ci-cd'

on:
  push:
    branches: [ 'main' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: true

      - name: Run tests
        run: go test -v ./...

      - name: Build App
        run: CGO_ENABLED=0 GOOS=linux go build -o myapp .

      - name: Artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: binary-payload
          path: myapp
  
  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/myapp:latest
            ${{ secrets.DOCKER_USERNAME}}/myapp:${{ github.sha}}

  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: Deploy container on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/myapp:latest
            docker stop myapp || true
            docker rm myapp || true
            docker run -d \
              --name myapp \
              -p 80:8080
              --restart unless-stopped \
              ${{ secrets.DOCKER_USERNAME }}/myapp:latest

#  deploy:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Download artifact
#        uses: actions/download-artifact@v4
#        with:
#          name: binary-payload
#
#      - name: Copy binary to server
#        uses: appleboy/scp-action@v0.1.7
#        with:
#          host: ${{ secrets.SSH_HOST }}
#          username: ${{ secrets.SSH_USER }}
#          key: ${{ secrets.SSH_KEY }}
#          source: "myapp"
#          target: "~/" # Uploads directly to home dir
#
#      - name: Run on server
#        uses: appleboy/ssh-action@v1.0.3
#        with:
#          host: ${{ secrets.SSH_HOST }}
#          username: ${{ secrets.SSH_USER }}
#          key: ${{ secrets.SSH_KEY }}
#          script: |
#            pkill myapp || true
#            chmod +x ~/myapp
#            nohup ~/myapp > app.log 2>&1 &